name: Manual-Trigger-To-Publish-to-Prod-APIM
run-name: Manual-Trigger-To-Publish-to-Prod-APIM
#martin francis kallukalam
on:
  workflow_dispatch:
    inputs:
     MILESTONE_TITLE:
        description: 'Enter Milestone to deploy.'     
        required: true
        type: string
     BRANCH_TO_DEPLOY_FROM:
      description: 'Branch to deploy APIM artifacts from.'     
      required: true
      type: choice
      default: "main"
      options:
       - "main"
concurrency:
 group: publish-to-prod-apim-instance
 cancel-in-progress: false
permissions:
  contents: write
  id-token: write
env:
  APIOPS_WORKFLOW_REPO: 'martin2176/ecs-apim-workflows'
jobs:
    Notify-MS-Teams:
     name: Notify-MS-Teams
     uses: martin2176/ecs-apim-workflows/.github/workflows/msteams-notification.yml@main
     with:
      CHANNEL_NAME: "PROD_DEPLOYMENT_CHANNEL"
      MESSAGE_TITLE: "Deployment waiting for Approval."
      MESSAGE_BODY: "There is a Deployment to Prod APIM Instance waiting for Approval.Access the Workflow at: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
    Publish-Artifacts-to-Prod-APIM:
     uses: martin2176/ecs-apim-workflows/.github/workflows/publish-to-prod-matrix-controller.yml@main
     with:
      MILESTONE_TITLE: ${{ inputs.MILESTONE_TITLE }}
      API_MANAGEMENT_ENVIRONMENT: prod
      BRANCH_TO_DEPLOY_FROM: ${{ inputs.BRANCH_TO_DEPLOY_FROM }}